@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pet Avenue<br />
    Cornwall, England<br />
    CW21 2XQ<br />
    <abbr title="Phone">P:</abbr>
    01920 222 2222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@petquest.pets">Support@petquest.pets</a><br />
</address>