@{
    ViewBag.Title = "Home Page";
}
<div class="content" role="navigation" data-ng-controller="indexController">
    <div class="jumbotron">
        <h1>What is Pet Quest?</h1>
        <p class="lead">Pet Quest allows you to look for lost pets in your area. </p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Current lost pets</h2>
            <p>
                Lost Pet List
                Test
            </p>
            <p><a class="btn btn-default" href="">see more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Current found pets</h2>
            <p>
                Found Pet List
            </p>
            <p><a class="btn btn-default" href="">see more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Report Lost Pet</h2>
            <p>
                Lost Pet Form
            </p>
            <p><a class="btn btn-default" href="">see more &raquo;</a></p>
            <p>Found a pet? <a class="btn btn-default" href="">Report it! &raquo;</a></p>
        </div>
    </div>
</div>